{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="jumbotron text-center">
  <div class="container">
    <h2>Телеграм-бот живет здесь:</h2>
    <a type="button" class="btn btn-lg btn-default" href="//t.me/smileup_bot/">@smileup_bot</a>
  </div>
</div>
<div class="container">
      <h3><span class="glyphicon glyphicon-info-sign"></span> Что с этим можно делать</h3>
      <ul>
        <li>Бот делится цитатками из книжек, обычно раз в сутки или по запросу. Нужен знак или что-то очень срочно для радости? - Напиши боту.</li>

        <li>Имеющиеся команды для управления можно узнать, если написать боту - <code>/help</code>.</li>

      </ul>
</div>
{% endblock %}
